[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/usr/bin/HeeksCAD
Icon=HeeksCAD.png
Terminal=false
Name=HeeksCAD
GenericName=HeeksCAD
Comment=HeeksCAD is a free, open source, CAD application
Categories=Graphics;3DGraphics
