Source: heekscad
Section: editors
Priority: extra
Maintainer: Romuald Conty <neomilium@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cmake, libopencascade-visualization-dev | liboce-visualization-dev, libwxgtk2.8-dev | libwxgtk3.0-dev, libgtkglext1-dev, python-dev, libarea-dev
Standards-Version: 3.9.3
Homepage: https://github.com/Heeks/heekscad
Vcs-Svn: http://heekscad.googlecode.com/svn/trunk/
Vcs-Browser: https://code.google.com/p/heekscad/source/browse/

Package: heekscad
Architecture: any
Depends: ${shlibs:Depends}, python (>= 2.5)
Breaks: heekscnc (<< 1.0.0)
Recommends: wx2.8-i18n
Description: Computer-aided design application based on OCE
 HeeksCAD is a CAD application which features:
  * Import solid models from STEP and IGES files;
  * Draw construction geomtery and lines and arcs;
  * Create new primitive solids;
  * Make solids by extruding a sketch or by making a lofted solid between
  sketches;
  * Modify solids using blending, or boolean operations;
  * Save IGES, STEP and STL;
  * Printer plot the 2D geometry;
  * Import and export DXF files.

Package: libheekstinyxml0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HeeksCAD version of libtinyxml
 Customized version of tinyxml for HeeksCAD and add-ins.
 .
 This package contains the shared library.

Package: libheekstinyxml-dev
Architecture: all
Section: libdevel
Depends: ${misc:Depends}, libheekstinyxml0 (= ${binary:Version})
Description: HeeksCAD version of libtinyxml (development files)
 Customized version of tinyxml for HeeksCAD and add-ins.
 .
 This package contains the development files (ie. headers).

Package: heekscad-dev
Architecture: all
Depends: ${misc:Depends}
Description: HeeksCAD add-ins interface (development files)
 This package contains the add-ins development files (ie. sources, headers).
